@inherits LayoutComponentBase
@inject IConfiguration Configuration
<PageTitle>📃 @Configuration["app:name"]</PageTitle>
<header>
  <a href="/"><h1>
    @Configuration["app:name"]
    </h1>
  </a>
</header>
<main>
    @Body
</main>
<footer>
  ©️ 2023 Mister Magoo - All Rights Reserved. @RuntimeInformation.OSDescription @RuntimeInformation.OSArchitecture @RuntimeInformation.FrameworkDescription
</footer>